body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    justify-content: center;
    display: flex;
    align-self: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Maximum width to maintain readability */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    color: #fff;
    font-family: "Source Sans Pro";
    
}

h1 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 20px; /* Add some spacing between lines */
}

canvas {
    display: block;
}
